<div  class="cont-icons">
  <span class="material-icons icons-by">home</span>
  <p class="name">Home</p>
</div>

<div  class="cont-icons">
  <span class="material-icons icons-by">account_circle</span>
  <p class="name">Cajero</p>
</div>

<div  class="cont-icons">
  <span class="material-icons icons-by">assignment_ind</span>
  <p class="name">Cliente</p>
</div>

<div  class="cont-icons">
  <span class="material-icons icons-by">airplane_ticket</span>
  <p class="name">Boleto</p>
</div>

<div  class="cont-icons">
  <span class="material-icons icons-by">train</span>
  <p class="name">Vehiculo</p>
</div>

<div  class="cont-icons">
  <span class="material-icons icons-by">map</span>
  <p class="name">Viaje</p>
</div>
